# Directories
/CHANGELOG.md
/LICENSE.txt
/README.md
/etc/
/installer/
/lib/
/packs/
/tmp/
/elpa/
/url/
/eshell/
/auto-save-list/

# Files
/saved-places
/ido.last
/ac-comphist.dat
/manifest.el
/recentf

# Backups
*~
.*.swp
*.orig
.mc-lists.el

# Build
/quelpa/
